body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logo img {
    width: 300px;
    height: 300px;
    // object-fit: contain;
}

.jobFormTitle h2 {
    color: aqua
}

.jobForm fieldset {
    color: white;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

.jobForm label {
    color: white;
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.jobForm input {
    margin-bottom: 1px;
}

.jobForm button {
    color: blue;
    width: 150px;
    height: 30px;
}
